.video-list-container {    
    margin-top: 50px;
}

.video-item{    
    background-color: #0C0C0C;    
    border: none;
    border-color: #FFC200;    
    border-radius: 4px;    
    min-height: 485px;
}

.video-item-caption{        
    min-height: 360px;
}

.light-text {
  color: white;
}

.video-item p{
  color: white; 
}

.video-item a{
  color: #FFC200; 
}

.search-results {
    height: 800;    
}